.top {
	background: url(../img/poster4.jpg) center top no-repeat;
}

.top h1 {
	font-size: 3.75em;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	padding-top: 15%;
	text-shadow: 2px 2px 7px #000;

}

nav {
	text-align: center;
	padding: 10% 5% 1% 5%;
}

.top a {
	color: #fff;
}

.top li {
	display: inline;
	border:2px solid #fff;
	border-radius:15px;
	background-color: #000;
	padding: 1%;
	text-align: center;
	margin: 10%;

}

.top li:hover {
	background-color: #fff;
	color:#000;
	border-color: #000;
}

.top a:hover {
	color: #000;
}

/*.orbitbg{
	background-color: #000;
}*/
