.top {
	background: url(../img/poster4.jpg) center top no-repeat;
}

.top h1 {
	font-size: 3.75em;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	padding-top: 20%;
	text-shadow: 2px 2px 7px #000;

}

/*.orbitbg{
	background-color: #000;
}*/
